body.theseed-dark-mode .Liberty,
body.theseed-dark-mode {
	background-color: black;
}

.theseed-dark-mode .Liberty .content-wrapper .liberty-content .liberty-content-header {
	background-color: black;
}

.theseed-dark-mode .Liberty .content-wrapper .liberty-content .liberty-content-header .title > h1 {
	color: #ddd;
}

.theseed-dark-mode .Liberty .content-wrapper .liberty-content .liberty-content-main {
	background-color: black;
	color: #ddd;
}

.theseed-dark-mode .Liberty .content-wrapper .liberty-footer {
	background-color: black;
	color: #ddd;
}

.theseed-dark-mode .Liberty .nav-wrapper {
	background-color: #014841;
}

.theseed-dark-mode .Liberty .nav-wrapper .navbar .navbar-nav .nav-item .nav-link:focus,
.Liberty .nav-wrapper .navbar .navbar-nav .nav-item .nav-link:hover {
	background-color: #023e98;
}

.theseed-dark-mode .Liberty .content-wrapper .liberty-content .liberty-content-header .content-tools .tools-btn:active,
.theseed-dark-mode .Liberty .content-wrapper .liberty-content .liberty-content-header .content-tools .tools-btn:focus,
.theseed-dark-mode .Liberty .content-wrapper .liberty-content .liberty-content-header .content-tools .tools-btn:hover {
	background-color: #014841;
}

.theseed-dark-mode a.btn.btn-secondary.tools-btn {
	background: black;
	color: #ddd;
}

.theseed-dark-mode button.btn.btn-secondary.tools-btn.dropdown-toggle {
	background: black;
	color: #ddd;
}

.theseed-dark-mode .dropdown-menu.dropdown-menu-right {
	background: black;
}

.theseed-dark-mode a.dropdown-item {
	color: #ddd;
}

.theseed-dark-mode .dropdown-menu .dropdown-item:hover {
	background-color: #023e98;
}

.theseed-dark-mode .Liberty .content-wrapper .liberty-sidebar .liberty-right-fixed .live-recent .live-recent-header .nav .nav-item .nav-link.active,
.theseed-dark-mode .Liberty .content-wrapper .liberty-sidebar .liberty-right-fixed .live-recent .live-recent-header .nav .nav-item .nav-link:active,
.theseed-dark-mode .Liberty .content-wrapper .liberty-sidebar .liberty-right-fixed .live-recent .live-recent-header .nav .nav-item .nav-link:focus,
.theseed-dark-mode .Liberty .content-wrapper .liberty-sidebar .liberty-right-fixed .live-recent .live-recent-header .nav .nav-item .nav-link:hover {
	background: black;
	color: #ddd;
}

.theseed-dark-mode .Liberty .content-wrapper .liberty-sidebar .liberty-right-fixed .live-recent .live-recent-content .live-recent-list .recent-item {
	color: #ddd;
}

.theseed-dark-mode ul#live-recent-list {
	background-color: black;
}

.theseed-dark-mode .Liberty .content-wrapper .liberty-sidebar .liberty-right-fixed .live-recent .live-recent-footer {
	background-color: black;
}

.theseed-dark-mode .Liberty .content-wrapper .liberty-sidebar .liberty-right-fixed .live-recent .live-recent-footer .label {
	background-color: #014841;
}

.theseed-dark-mode .Liberty .content-wrapper .liberty-sidebar .liberty-right-fixed .live-recent .live-recent-footer .label:hover {
	background-color: #023e98;
}

.theseed-dark-mode .dropdown-menu {
	background-color: black;
}

.theseed-dark-mode .liberty-content-main.wiki-article a {
	color: #E69720;
}

.theseed-dark-mode .w[data-v-ce090af2] del {
	color: #aaa;
}

.theseed-dark-mode .Liberty .nav-wrapper .navbar .form-inline .form-control {
	background-color: black;
	color: #ddd;
}

.theseed-dark-mode .Liberty .nav-wrapper .navbar .form-inline .form-control::placeholder {
	color: #ddd;
}

.theseed-dark-mode .Liberty .nav-wrapper .navbar .form-inline .btn {
	background-color: black;
	color: #ddd;
}

.theseed-dark-mode .Liberty .nav-wrapper .navbar .form-inline .btn:focus,
.theseed-dark-mode .Liberty .nav-wrapper .navbar .form-inline .btn:hover {
	background-color: #014841;
	border-color: #ddd;
}

.theseed-dark-mode div#bottom a {
	color: #E69720;
}
