button.btn.btn-block:hover {
    background: #5d92de;
    color: white;
}

.wiki-article .wiki-list {
    padding-left: 0.5rem;
}

.wiki-article .seed-acl-div table.table {
    white-space: nowrap;
}

.wiki-article button#createBtn {
    float: right;
    width: 8rem;
}

.wiki-article div.wiki-category {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: .9rem;
    margin: 0 0 1em;
    padding: 0.2rem 0.5rem;
    position: relative;
}

.wiki-article div.wiki-category ul li:after {
    border-left: 1px solid #888;
    content: "";
    display: inline-block;
    height: 0.8rem;
    margin: 0 0.4rem -0.1rem;
    padding: 0;
}

.wiki-article .wiki-quote {
    background: #eee;
    border: 2px dashed #ccc;
    border-left: 5px solid #71bc6d;
    display: table;
    margin: 1em 0;
    padding: 1em;
}

.wiki-article .more-box {
    background: #f4f4f4;
    border: 1px solid gray;
    display: block;
    font-weight: 700;
    margin-bottom: 25px;
    margin-left: 40px;
    padding: 5px;
    text-align: center;
    width: 80px;
}

.wiki-article .more-box:hover {
    background: #bac6f2;
}

.wiki-article table.diff tbody {
    font-family: "";
}

.wiki-article #editForm #textInput {
    border: none;
    border-radius: 0;
    color: #55595c;
    font-family: inherit;
    font-size: .9rem;
    height: 30rem;
    margin: 0;
    padding: 0.25rem 0.5rem;
    resize: vertical;
    width: 100%;
    box-shadow: none;
}

.wiki-article #editForm #previewFrame {
    height: 30rem;
    overflow: auto;
    padding: 10px;
    border: none;
    width: 100%;
}

.wiki-article #editForm .bordered {
    border: 1px solid #ddd;
    border-top: none;
}

.wiki-article .res-wrapper {
    margin: 0;
    padding-bottom: 20px;
}

.wiki-article .res .r-head {
    margin: 0;
    padding: 7px 7px 7px 10px;
}

.wiki-article .res .r-body.r-hidden-body {
    background: #6b6b6b;
    color: #fff;
}

.wiki-article .res.res-type-status .r-body {
    background: #fc6;
}

.wiki-article .res .r-head.first-author {
    background: #b0d3ad;
}

.wiki-article .res-loading .r-body {
    height: 80px;
}

.wiki-article .r-body {
    word-wrap: break-word;
    background: #f4f4f4;
    max-height: 500px;
    overflow-y: auto;
    padding: 13px;
}

.wiki-article .res-loading {
    animation-direction: alternate;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-name: RN7RBgOJ;
    opacity: .25;
}

.wiki-article .res {
    word-wrap: break-word;
    background: #d5d5d5;
    border: 1px solid gray;
    border-radius: 4px;
    display: inline-block;
    max-width: 100%;
    min-width: 400px;
    overflow: hidden;
}

@media screen and (max-width: 700px) {
    .wiki-article .res {
        display: block;
        min-width: 100%;
        width: 100%;
    }
}

@keyframes RN7RBgOJ {
    0% {
        opacity: .25
    }

    25% {
        opacity: .37
    }

    50% {
        opacity: .52
    }

    75% {
        opacity: .81
    }

    to {
        opacity: 1
    }
}

@media screen and (min-width: 34rem) {
    .login-form {
        margin:0 auto;
        width: 28rem
    }
}

/* 다크 모드 */
.theseed-dark-mode .wiki-article .wiki-category {
    background-color: #1c1d1f;
    border-color: #555;
}

.theseed-dark-mode .wiki-article .wiki-quote {
    background-color: #2d2f34;
    border-color: #383b40 #383b40 #383b40 #666c75;
    color: #ddd;
}

.theseed-dark-mode .wiki-article .more-box {
    background-color: #325a56;
    color: #ddd;
}

.theseed-dark-mode .wiki-article form div.bordered {
    border-color: #383b40;
}

.theseed-dark-mode .wiki-article form input#logInput, .theseed-dark-mode form textarea#textInput {
    background-color: #27292d;
    border-color: #383b40;
    color: #ddd;
}

.theseed-dark-mode ul.nav-tabs {
    border-bottom: 1px solid #383b40;
}

.theseed-dark-mode ul.nav-tabs > li.nav-item > .nav-link {
    border-color: #383b40 #383b40 transparent;
    color: #ddd;
}

.theseed-dark-mode ul.nav-tabs > li.nav-item > .nav-link.active {
    background-color: #27292d;
}

.theseed-dark-mode ul.nav-tabs > li.nav-item > .nav-link > form > button {
    color: #ddd;
}

.theseed-dark-mode .res {
    background-color: #2d2f34;
    border-color: #383b40;
}

.theseed-dark-mode .res .r-head.first-author {
    background-color: #324432;
}

.theseed-dark-mode .res .r-body {
    background: #27292d;
}

.theseed-dark-mode .res.res-type-status .r-body {
    background: #54411a;
}

.theseed-dark-mode .res .r-head .pull-right span > button {
    background-color: #27292d;
    border-color: #383b40;
    color: #ddd;
}

/* issue #13 */
.wiki-article .res {
    overflow: unset !important;
}