.wiki-article #previewFrame {
    display: block;
    width: 100%;
    height: 30rem;
    border: none;
}

.wiki-article #editForm #textInput {
    width: 100%;
    height: 30rem;
    border: none;
}

.ui-front {
    z-index: 1003;
}

.res-wrapper {
    padding-bottom: 20px;
}

.r-head {
    margin: 0;
    padding: 7px 7px 7px 10px;
}

.r-body.r-hidden-body {
    background: gray;
    color: white;
}

.r-body {
    word-wrap: break-word;
    background: #f4f4f4;
    max-height: 500px;
    overflow-y: auto;
    padding: 13px;
}

.more-box {
    max-width: 100%;
    min-width: 400px;
    width: auto;
    word-wrap: break-word;
    position: relative;
}

.res.res-type-status .r-body {
    background: darkorange;
}

.r-head.first-author {
    background: #b0d3ad;
}

#createBtn {
    float: right;
    margin-top: 10px;
}

s:hover,
strike:hover,
del:hover {
    color: #666;
    background-color: #eee;
    text-decoration: none;
}

.wiki-article div.wiki-category {
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: .9rem;
    margin-bottom: 1em;
    padding: 3px 3px 3px 5px;
}

.r-body .wiki-quote p {
    padding: 10px;
}

.wiki-quote .wiki-list {
    margin-left: 30px;
}

.wiki-article .wiki-quote {
    border-left: 5px solid #80ADEF;
}

button.btn.btn-block:hover {
    background: #5d92de;
    color: white;
}

table.wiki-closure tbody tr td {
    padding: 10px;
}

table.wiki-closure tbody tr td p {
    margin-bottom: 0;
}

.res.res-type-status .r-body {
    background: #FFCC66;
    padding-bottom: 10px;
}

.r-body.r-hidden-body {
    padding-bottom: 10px;
}

.Liberty .content-wrapper .liberty-content .liberty-content-header .title>h1 {
    word-break: break-all;
    min-height: 33px;
}

.wiki-article h2 {
    word-break: break-all;
}

table.diff tbody {
    font-family: "";
}

.ui-widget-content li:hover {
    background: #cfddf2;
}

.ui-widget-content {
    font-size: 13px;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
    border: 1px solid transparent;
    background: none;
    font-weight: unset;
    color: unset;
}

div.scroll-buttons a {
    display: inline-block;
    float: left;
    width: 42px;
    height: 42px;
    padding: 5px 8px 9px 8px;
    border: 1px solid #545454;
    border-left: 0;
    text-decoration: none;
    text-align: center;
    background: rgba(26, 26, 26, 0.9);
    border-bottom: 0;
}

.scroll-buttons a:link,
.scroll-buttons a:visited {
    color: white;
}

div.scroll-buttons {
    position: fixed;
    float: right;
    height: 42px;
    text-align: right;
    font-size: 1.7em;
    z-index: 10000;
    margin-bottom: -10px;
    bottom: 10px;
    right: 0px;
    opacity: 0.8;
}

.wiki-category-container li {
    margin-left: 20px;
}

.res-loading .r-body {
    height: 50px;
}

.res-loading[data-visible="true"] .res {
    overflow: hidden;
}

.res-loading {
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: RN7RBgOJ;
    animation-name: RN7RBgOJ;
    opacity: .25;
}

@keyframes RN7RBgOJ {
    0% {
        opacity: .25
    }

    25% {
        opacity: .37
    }

    50% {
        opacity: .52
    }

    75% {
        opacity: .81
    }

    to {
        opacity: 1
    }
}

.res {
    word-wrap: break-word;
    background: #d5d5d5;
    border: 1px solid gray;
    border-radius: 4px;
    display: inline-block;
    max-width: 100%;
    min-width: 400px;
}

@media screen and (max-width: 700px) {
    .res {
        display: block;
        min-width: 100%;
        width: 100%;
    }
}